[submodule "odoo16/extra_addons/l10n-argentina"]
	path = odoo16/extra_addons/l10n-argentina
	url = https://github.com/OCA/l10n-argentina.git
[submodule "odoo16/extra_addons/odoo-argentina"]
	path = odoo16/extra_addons/odoo-argentina
	url = https://github.com/ingadhoc/odoo-argentina.git
[submodule "odoo16/extra_addons/account-reconcile"]
	path = odoo16/extra_addons/account-reconcile
	url = https://github.com/OCA/account-reconcile.git
[submodule "odoo16/extra_addons/odoo_chasqui_integration"]
	path = odoo16/extra_addons/odoo_chasqui_integration
	url = https://github.com/Proyecto-Chasqui/odoo_chasqui_integration.git
[submodule "odoo16/extra_addons/l10n_ar_fe_qr"]
	path = odoo16/extra_addons/l10n_ar_fe_qr
	url = https://github.com/ctmil/l10n_ar_fe_qr.git
[submodule "odoo16/partials_addons/odoo-argentina"]
	path = odoo16/partials_addons/odoo-argentina
	url = https://github.com/codize-app/odoo-argentina.git
